<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Email Setup -->
    <add key="From" value="db2seeder@nisgrenada.org" />
    <add key="Smtp" value="owa.nisgrenada.org" />
    <add key="Port" value="587" />
    <add key="User" value="spalacio" />
    <add key="Password" value="sara1985." />
    <!-- Data Bases -->
    <add key="OnlineForms" value="OnlineForms_Test" />
    <add key="Scanned_Documents" value="Scanned_Documents_test" />
    <!-- Parameters -->
    <add key="APIURL" value="http://192.168.210.27:24266" />
    <add key="PortalURL" value="http://my-nis-uat.loteklabs.com/SupportRequest/Detail/" />
    <add key="Enviroment" value="TT" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>